<table *ngIf="listConsulta.length!=0" class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">DNI</th>
      <th scope="col">NOMBRES</th>
      <th scope="col">APELLIDO PATERNO</th>
      <th scope="col">APELLIDO MATERNO</th>
      <th scope="col">QUITAR</th>
    </tr>
  </thead>
  <tbody>

    <tr *ngFor="let persona of listConsulta; let i=index">
      <th scope="row">{{i+1}}</th>
      <td>{{persona.dni}}</td>
      <td>{{persona.nombres}}</td>
      <td>{{persona.apellidoPaterno}}</td>
      <td>{{persona.apellidoMaterno}}</td>
      <td>
        <button (click)="eliminarItem(i)" class="btn btn-danger btn-sm"><i class="fas fa-minus-circle"></i>
        </button>
      </td>
    </tr>

  </tbody>
</table>
