<app-navbar></app-navbar>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <app-form-consulta></app-form-consulta>
    </div>
    <div class="col-md-8">
      <div class="card table-responsive">
        <div class="car-body p-4 pb-0" id="historial">
          <p class="text-center title history">HISTORIAL DE CONSULTA</p>
          <app-table-historial [listConsulta]="cservice.historial"></app-table-historial>
        </div>
        <div *ngIf="cservice.historial.length!=0" class="p-4">
          <button (click)="eliminarAll()"
                  class="btn btn-danger btn-sm">Eliminar historial</button>
          <button printSectionId="historial"
                  [useExistingCss]="true"
                  ngxPrint
                  class="btn btn-dark btn-sm m-1"><i class="fas fa-print"></i> Imprimir</button>
        </div>
        <div *ngIf="cservice.historial.length==0" class="alert alert-info m-3" role="alert">
          <i class="fas fa-folder-open"></i> Lista de historial vacía
        </div>
      </div>
    </div>
  </div>
</div>
