/* You can add global styles to this file, and also import other style files */
.title{
    margin: 5px;
    font-family: 'Ramabhadra', sans-serif;
}
.history{
    font-size: 18px;
}
.table{
    padding: 5px;
}
.main-title{
    font-size: 16px;
}